openapi: 3.0.0
info:
  title: Firebase Cloud Functions API
  version: 1.0.0
  description: API documentation for Firebase Cloud Functions.

servers:
  - url: https://us-central1-devfest-bari-24-app.cloudfunctions.net

paths:
  /getUserProfile:
    post:
      summary: Retrieve the user's profile
      description: This function retrieves the authenticated user's profile.
      responses:
        'success':
          description: A JSON string containing the user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        'unauthenticated':
          description: User must be authenticated to access this resource.
        'user-not-found':
          description: User profile not found.
        'group-not-found':
          description: Group not found.
        'internal':
          description: Internal server error.

  /createQuiz:
    post:
      summary: Create a new quiz
      description: This function allows staff members to create a new quiz.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuizRequest'
      responses:
        'success':
          description: A JSON string containing the quiz ID.
        'unauthenticated':
          description: User must be authenticated to access this resource.
        'user-not-found':
          description: User profile not found.
        'question-not-found':
          description: Question not found.
        'permission-denied':
          description: Permission denied - User not authorized to create a quiz.
        'internal':
          description: Internal server error.

  /getQuiz:
    post:
      summary: Retrieve quiz details
      description: This function retrieves the details of a quiz by its ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quizId:
                  type: string
                  description: The ID of the quiz to retrieve.
      responses:
        'success':
          description: A JSON string containing the quiz details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quiz'
        'unauthenticated':
          description: User must be authenticated to access this resource.
        'invalid-argument':
          description: Invalid quizId
        'quiz-not-found':
          description: Quiz not found.
        'quiz-not-open':
          description: Quiz is not open.
        'question-not-found':
          description: Question not found.
        'quiz-start-time-not-found':
          description: Quiz start time for user not found.
        'quiz-time-up':
          description: Quiz time is up.
        'internal':
          description: Internal server error.

  /submitQuiz:
    post:
      summary: Submit quiz answers
      description: This function allows users to submit their answers for a quiz.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitQuizRequest'
      responses:
        'success':
          description: A JSON string containing the quiz result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuizResult'
        'unauthenticated':
          description: User must be authenticated to access this resource.
        'invalid-argument':
          description: The function must be called with a valid quizId and answerList and the answerList must have the same length as the questionList.
        'quiz-not-found':
          description: Quiz not found.
        'quiz-not-open':
          description: Quiz is not open.
        'quiz-already-submitted':
          description: Quiz already submitted.
        'quiz-start-time-not-found':
          description: Quiz start time for user not found.
        'question-not-found':
          description: Question not found.
        'quiz-time-up':
          description: Quiz time is up.
        'talk-not-found':
          description: Talk associated with quiz not found.
        'sponsor-not-found':
          description: Sponsor associated with quiz not found.
        'internal':
          description: Internal server error.

  /getQuizResults:
    post:
      summary: Retrieve quiz results
      description: This function retrieves the results of every quiz submitted by the authenticated user.
      responses:
        'success':
          description: A JSON string containing the list of quiz results.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuizResult'
        'unauthenticated':
          description: User must be authenticated to access this resource.
        'quiz-results-not-found':
          description: Quiz results not found.
        'internal':
          description: Internal server error.

  /createTalk:
    post:
      summary: Create a new talk
      description: This function allows staff members to create a new talk.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTalkRequest'
      responses:
        'success':
          description: A JSON string containing the talk ID.
        'unauthenticated':
          description: User must be authenticated to access this resource.
        'user-not-found':
          description: User not found.
        'permission-denied':
          description: Permission denied - User not authorized to create a talk.
        'internal':
          description: Internal server error.

  /getTalkList:
    post:
      summary: Retrieve the list of talks
      description: This function retrieves a list of all talks.
      responses:
        'success':
          description: A JSON string containing the list of talks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Talk'
        'unauthenticated':
          description: User must be authenticated to access this resource.
        'not-found':
          description: Talks not found.
        'internal':
          description: Internal server error.

  /getSponsorList:
    post:
      summary: Retrieve the list of sponsors
      description: This function retrieves a list of all sponsors.
      responses:
        'success':
          description: A JSON string containing the list of sponsors.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sponsor'
        'unauthenticated':
          description: User must be authenticated to access this resource.
        'not-found':
          description: Sponsors not found.
        'internal':
          description: Internal server error.

components:
  schemas:
    Group:
      type: object
      properties:
        groupId:
          type: string
        name:
          type: string
        imageUrl:
          type: string

    UserProfile:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        name:
          type: string
        surname:
          type: string
        group:
          $ref: '#/components/schemas/Group'

    CreateQuizRequest:
      type: object
      properties:
        questionList:
          type: array
          items:
            type: '#/components/schemas/Question'
          description: List of questions included in the quiz.
        type:
          type: string
          description: The type of the quiz.
        talkId:
          type: string
          description: The associated talk ID.
        sponsorId:
          type: string
          description: The associated sponsor ID.
        title:
          type: string
          description: The title of the quiz

    Quiz:
      type: object
      properties:
        quizId:
          type: string
        title:
          type: string
        type:
          type: string
        talkId:
          type: string
          nullable: true
        sponsorId:
          type: string
          nullable: true
        maxScore:
          type: integer
          nullable: true
        isOpen:
          type: boolean
          nullable: true
        questionList:
          type: array
          items:
            $ref: '#/components/schemas/Question'
        timerDuration:
          type: integer

    Question:
      type: object
      properties:
        questionId:
          type: string
        text:
          type: string
        answerList:
          type: array
          items:
            $ref: '#/components/schemas/Answer'
        correctAnswer:
          type: string
          nullable: true
        value:
          type: integer
          nullable: true

    Answer:
      type: object
      properties:
        id:
          type: string
        text:
          type: string

    SubmitQuizRequest:
      type: object
      properties:
        quizId:
          type: string
        answerList:
          type: array
          items:
            type: string

    QuizResult:
      type: object
      properties:
        quizTitle:
          type: string
        score:
          type: integer
        maxScore:
          type: integer

    CreateTalkRequest:
      type: object
      properties:
        title:
          type: string
          description: The title of the talk.
        description:
          type: string
          description: The description of the talk.
        track:
          type: string
          description: The track of the talk.
        room:
          type: string
          description: The room where the talk will be held.
        startTime:
          type: integer
          description: The start time of the talk in milliseconds since the Unix epoch.
        endTime:
          type: integer
          description: The end time of the talk in milliseconds since the Unix epoch.

    Talk:
      type: object
      properties:
        talkId:
          type: string
        title:
          type: string
        description:
          type: string
        track:
          type: string
        room:
          type: string
        startTime:
          type: integer
        endTime:
          type: integer

    Sponsor:
      type: object
      properties:
        sponsorId:
          type: string
        name:
          type: string
        description:
          type: string
        websiteUrl:
          type: string